

body {
    padding: 50px 20%;
    font-family: 'Merriweather', Georgia, serif;
}

h1{
    text-align: center;
    color:Plum;
    text-transform: uppercase;
}

h2 {

    text-align: right;
    color:Plum;
    border-bottom: solid lightslategray;


}

h3 {
    text-align: center;
    color:Plum

}

hr {
    color:lightslategray;
    width: 50%;
    border: dotted thin;
}

strong{
    color:Plum;
}

p{
    color:darkslategray;
    text-align: justify;

}

#number1-achievement{
    color: red;
}
.iw{
    font-style: italic;
}
