body {
    padding-left: 20%;
    padding-right: 20%;
}

h1{
    text-align: center;
    color:Plum;
}

h2 {

    text-align: right;
    color:Plum;
    border-bottom: solid lightslategray;


}

h3 {
    text-align: center;
    color:Plum;
}

hr {
    color:lightslategray;
    width: 50%;
    border: dotted thin;
}

strong{
    color:deeppink;
}

p{
    color:darkslategray;
    font-family: Georgia, serif;
}
